p {
  text-decoration: red wavy overline 2px;
  /* 
    각 속성값 순서가 바뀌는 것은 상관없음
    blue wavy underline 3px; 등도 상관없음
  */
  text-transform: capitalize;
  text-transform: none;
  text-transform: uppercase;
  text-transform: lowercase;
}