ul > li {
  margin-right: 2em;
  /* padding-right: 2em; */
  display: inline-block;
  background-color: aqua;
  width: 60px;
}

ul div {
  background-color: red;
  margin-top: 20px;
  padding-left: 342px;
}